<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Help Page</title>
        <link rel="stylesheet" href="./css/styles.css" /> 
    </head>
    <body>
        <div class="div-main-content">
            {{>header}}

            <p>{{helpMessage}}</p>
        </div>
    
        {{>footer}}
    </body>
</html>